<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartLightSystem - {% block title %}Dashboard{% endblock %}</title>

    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Load PubNub script -->
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.29.11.min.js"></script>

    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="SmartLightSystem Logo">
            <h1>SmartLightSystem</h1>
        </div>
<hr>
        <nav>
            <ul>
                {% if user %}
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('index') }}">Login</a></li>
                    
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 SmartLightSystem. All rights reserved.</p>
    </footer>

    <!-- Link to the external JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>
