<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome {{ user }}!</h1>
    <p>Email: {{ email }}</p>
    <a href="{{ url_for('logout') }}">Logout</a>

    <h1>Sensor Dashboard</h1>
    <div id="lightStatus" class="status off">Light: Off</div>

    <div id="motionStatus" class="status off">Motion: No</div>
    <div id="irStatus" class="status off">IR Sensor: Not Broken</div>
</body>
</html>
